/* holds reusable classes and most css variables */

:root {
    --themecolor: #070d61;
    --seccolor: #109be4;
    --seccolor-glass: #109be4;
    --textcolor: #fefefe;
    --alttextcolor: #222;
    --panelbg: #222;
    --bodybg: #333;
    --shadow-light: #efefef;
    --shadow-dark: #000000aa;
    --darker-bg: #aaa;
    --roundness: 16px;
    --shadowFar: 0 0 12px rgba(0,0,0,0.2);

    --verse-size: 6.7rem;
    --verse-text-size: 3.3rem;
}

*{
    box-sizing: border-box;
    transition: 0.3s ease-out;
}
html{
    scroll-behavior: smooth;
}

/* homepage */
	.sitemenu{
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		gap: 24px;
	}
	.sitemenu .sitelink{
		flex: 0 0 250px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 16px;
		padding: 24px 12px;
		box-shadow: 3px 3px 24px var(--shadow-dark);
		border-radius: var(--roundness);
	}
	.sitemenu .sitelink:hover{
		scale: 1.1;
		/*box-shadow: 0 0 12px var(--seccolor);*/
		background: var(--seccolor-glass);
		color: var(--alttextcolor);
	}
	.sitemenu .sitelink i{
		font-size: 2.4rem;
	}

