*{
	box-sizing:border-box;
	transition: 0.3s ease-out;
}
body{
	background-color: var(--bodybg);
	color: var(--textcolor);
	font-size: 3rem;
	font-family: calibri;
	padding: 14px;
	min-height: 100vh;
}
a{
	text-decoration: none;
}

.versival{
	background-color: var(--themecolor);
	color: #fff;
}

/* homepage */
	.sitemenu{
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		gap: 24px;
	}
	.sitemenu .sitelink{
		flex: 0 0 250px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 16px;
		padding: 24px 12px;

		box-shadow: 3px 3px 24px var(--shadow-dark);
		border-radius: var(--roundness);
	}
	.sitemenu .sitelink:hover{
		scale: 1.1;
		/*box-shadow: 0 0 12px var(--seccolor);*/
		background: var(--seccolor);
		color: var(--alttextcolor);
	}
	.sitemenu .sitelink i{
		font-size: 2.4rem;
	}

/* page for showing the verses */
	.content{
		width: 96%;
		text-align: center;
		display: flex;
		justify-content: center;
		flex-direction: column;
		gap: 25px;
	}

	.versedisplay span {
	    display: flex;
	    text-align: center;
	    justify-content: center;
	    align-items: center;
		flex-direction: column;
	}
	.verse-location {
	    font-size: 2.7rem;
	    font-weight: 800;
	    position: relative;
	    padding: 24px;
	    gap: 24px;
	}
	.verse-location::before {
	    content: '';
	    height: 7px;
	    width: min(25vw,120px);
	    border-radius: 24px;
	    background-color: #fff;
	    display: block;
		opacity: 0.4;
	}
	.verse-text{
		font-size: 3.7rem;
	}

/* page for sending the message */
	.senderbox {
		max-width: 400px;
		margin: 50px auto;
		padding: 20px 25px;
		background-color: var(--panelbg);
		color: var(--textcolor);
		box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
		border-radius: 12px;
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	}

	.senderbox h1 {
		font-size: 24px;
		margin-bottom: 20px;
		text-align: center;
	}

	.senderbox input#msg {
		width: 100%;
		padding: 12px 14px;
		font-size: 16px;
		border: 2px solid var(--themecolor);
		/*background-color: var(--darker-bg);*/
		border-radius: var(--roundness);
		margin-bottom: 15px;
	}
	.senderbox .tiptxt{
		display: block;
		padding: 0 4px 16px 4px;
	}
	.senderbox input#msg:focus {
		background-color: var(--textcolor);
		color: var(--alttextcolor);
		outline: none;
		box-shadow: 0 0 12px var(--themecolor);
	}

	.senderbox{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	.senderbox .navbtns{
		display: flex !important;
		flex-wrap: nowrap;
		gap: var(--size-md);
		width: 100%;
	}
	.senderbox .navbtns button{
		width: 100%;
	}

/* reusables */
	.centroid{
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.hed1{font-weight: 800}

	.themebtn {
		width: 100%;
		padding: 12px;
		background-color: var(--seccolor);
		color: #fff;
		font-size: 16px;
		border: none;
		border-radius: var(--roundness);
		cursor: pointer;
		transition: background-color 0.3s;
	}

	.themebtn:hover {
		background-color: var(--clr-theme-dark);
	}

	.flow-left{
		display: flex;
		flex-direction: row;
	}